* {
    -bg-color : #122938;
    -font-color : #743F39;
    -text-field-prompt-text : #1659DC;
    -text-field-border-color : black;
    -icon-color : white;
}
Label{
    -fx-text-fill : -font-color ;
}
.root {
    -fx-focus-color: -fx-accent;
    -fx-base: -bg-color;
    -fx-background-color:  -bg-color;
    -fx-text-fill: -font-color ;
    -fx-background-image: url("20210203001122_1.jpg");
	-fx-background-repeat:stretch;
    -fx-background-size:  100%  100%;
    -fx-background-position: bottom ;
}
.ikonli-font-icon{
    -fx-icon-code: 'fab-grav';
    -fx-icon-color: -icon-color;
    -fx-shape: " M 100, 100 m -75, 0 a 75,75 0 1,0 150,0 a 75,75 0 1,0 -150,0";
    -fx-icon-size: .5cm;
}
.folder_action_back_button_icon{
    -fx-icon-code: 'fab-grav';
    -fx-icon-color:  #8ed8fc;
    -fx-background: -bg-color;
    -fx-effect:none;
    /* -fx-shape: " M 100, 100 m -75, 0 a 75,75 0 1,0 150,0 a 75,75 0 1,0 -150,0"; */
    -fx-icon-size: 2cm;
}

.button {
    -fx-text-fill: #8ed8fc;
    -fx-background-color: #2e4558;
}
 .settings_button_bar, .settings_base, .settings_base_vbox{
    -fx-background-color :  -bg-color;
}
.dashboard{
  -fx-background-color :black;
}
.action_grid_pane{
    -fx-background-color :  -bg-color;
    -fx-background-image: url("20201223030159_1.jpg");
    -fx-background-repeat:stretch;
    -fx-background-size:  100%  100%;
    -fx-background-position: bottom ;
}

.settings_base_scroll_pane {
    -fx-background: -bg-color;
    -fx-border-color:black;
}
.action_grid_pane {
    -fx-background-color: -bg-color;
}
.text-field{
    -fx-text-fill: -font-color ;
    -fx-prompt-text-fill: -text-field-prompt-text;
    -fx-background-color : -bg-color;
    -fx-border-width : 0 0 1 0;
    -fx-border-color: -text-field-prompt-text;
}
.alert_pane{
    -fx-background-color : -bg-color;
    -fx-border-color : -bg-color;
}
.alert_content_pane{
    -fx-background-color: -bg-color;
    -fx-padding: 5;
}
.alert_scroll_pane{
    -fx-background:  -bg-color;
    -fx-border-color:-bg-color;
}
.alert_button_bar{
    -fx-background-color:-bg-color;
}
.action_box{
    /* -fx-shape: " M 100, 100 m -75, 0 a 75,75 0 1,0 150,0 a 75,75 0 1,0 -150,0"; */
    -fx-border-color : black;
    -fx-border-width: 0px;
    /* -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 20,0.8,0,0); */
}
.action_box_icon_not_present{
    -fx-shape: " M 100, 100 m -75, 0 a 75,75 0 1,0 150,0 a 75,75 0 1,0 -150,0";
    -fx-border-color : black;
    -fx-border-width: 2px;
    -fx-background-radius: 1;
    -fx-effect: dropshadow( three-pass-box ,rgba(142, 216, 252, 1) , 20,0.8,0,0);
}
.action_box_valid{
    /* -fx-shape: " M 100, 100 m -75, 0 a 75,75 0 1,0 150,0 a 75,75 0 1,0 -150,0"; */
}
.action_box_icon_present{
    /* -fx-shape: " M 100, 100 m -75, 0 a 75,75 0 1,0 150,0 a 75,75 0 1,0 -150,0"; */
    /* -fx-effect:none; */
    -fx-background: -bg-color;
    /* -fx-effect: dropshadow( three-pass-box ,rgba(142, 216, 252, 1) , 20,0.8,0,0); */
}
.combo_box{
    -fx-alignment:CENTER_LEFT;
    -fx-pref-width:200;
    -fx-padding: 5;
    -fx-border-width : 0;
    -fx-border-color : grey;
    -fx-border-radius : 3;
}
.combo_box_popup{
    -fx-background: -bg-color;
    -fx-border-color: -bg-color;
}
.combo_box_popup_vbox{
    -fx-background-color: -bg-color;
}
